@font-face {
    font-family: 'Season Mix';
    src: url('SeasonMix-TRIAL-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
/* Season Mix Font Stylesheet */

@font-face {
    font-family: 'Season Mix';
    src: url('SeasonMix-TRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Season Mix';
    src: url('SeasonMix-TRIAL-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/* Usage Example */
/*
body {
    font-family: 'Season Mix', sans-serif;
}
*/
